* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.front-page {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
  z-index: 1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

hr {
  border: none;
  height: 2px;
  background-color: rgb(70, 130, 180);
  margin: 0;
  z-index: 10;
  position: relative;
  margin: 0 8rem;
}