.nav-bar {
    position: fixed;
    width: 100%;
    height: 100vh;
    max-width: 350px;
    background-color: rgba(20, 20, 20, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0 1rem;
    z-index: 100;
    top: 0;
    right: -360px;
    transition: .3s ease;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin-top: 6rem;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s;
    font-family: "JetBrains Mono", monospace;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.nav-bar.active {
    right: 0;
}

.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.burger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #ffffff;
  margin: 6px 0;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.3s ease, width 0.3s ease;
}

#burger-checkbox {
  display: none;
}

#burger-checkbox:checked + .burger span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  width: 46px;
}

#burger-checkbox:checked + .burger span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

#burger-checkbox:checked + .burger span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  width: 46px;
}
