
.social-media-links-container {
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  position: fixed;
  padding: 0px 6px;
  background-color: hsla(0, 0%, 62%, 0.25);
  border-radius: 8px;
  transition: 0.5s;
  list-style-type: none;
  z-index: 999;
}

.social-media-links-container:hover {
  left: 10px;
}

.social-media-links-container .social-media-svg {
  transition: 0.5s;
}

.social-media-links-container:hover .social-media-svg {
  margin: 14px 4px;
}

.social-media-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 4px;
  margin: 12px 2px;
}

.social-media-links-container a::before {
  font-size: 0.85em;
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transform: translateX(30px);
  opacity: 0;
  pointer-events: none;
}

.instagram-container::before {
  background: linear-gradient(55deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.social-media-links-container a:hover {
  background-color: var(--accent-color);
  transition: fill 0.3s ease;
}

.social-media-links-container a:hover::before {
  opacity: 1;
  transform: translateX(50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-media-hyperlink:hover {
  fill: var(--accent-color);
  transition: fill 0.3s ease;
  text-decoration: none;
}

.instagram:hover path{
  fill: url(#instagram-gradient);
}


@media (max-width: 768px) {
  .social-media-links-container {
    display: none;
  }
}