body {
    background-color: rgb(20, 20, 20);
}

body h2 {
    color: #ffffff;
    text-align: center;
    margin: 2rem 0;
    font-family: "JetBrains Mono", monospace;
    font-size: 3rem;
}

.content-container {
    width: 100%;
    height: 100vh;
}

.imprint-section {
    font-family: "JetBrains Mono", monospace;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imprint-section p {
    color: #aaaaaa;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0 5rem;
    max-width: 1000px;
}

.imprint-section h3 {
    color: #ffffff;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.imprint-section a {
    color: rgb(70, 130, 180);
    text-decoration: none;
    text-align: center;
    display: block;
}

.imprint-section a:hover {
    text-decoration: underline;
}

.imprint-section ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.imprint-section ul li {
    margin-bottom: 0.5rem;
    color: #aaaaaa;
}